/*estilos CSS -->  GLOBAL*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Variables globales */
:root {
  --color-primary: #083675; /*fondo azul oscuro*/
  --color-secundary: #f7f6f6; /*fondo gris */
  --color-texto-primary:#ffffff; /*color del texto*/
  --color-icons:#f4f6f9;
}

.texto-azul{
  color: var(--color-primary);
  text-align: center;
}
